$font-dir: '/static/fonts/Roboto';

@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  font-style: normal;
  src: local('Roboto'), local('Roboto-Regular'), url('#{$font-dir}/roboto-v18-latin_cyrillic-regular.woff2') format('woff2'), url('#{$font-dir}/roboto-v18-latin_cyrillic-regular.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 500;
  font-style: normal;
  src: local('Roboto Medium'), local('Roboto-Medium'), url('#{$font-dir}/roboto-v18-latin_cyrillic-500.woff2') format('woff2'), url('#{$font-dir}/roboto-v18-latin_cyrillic-500.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  font-style: normal;
  src: local('Roboto Bold'), local('Roboto-Bold'), url('#{$font-dir}/roboto-v18-latin_cyrillic-700.woff2') format('woff2'), url('#{$font-dir}/roboto-v18-latin_cyrillic-700.woff') format('woff');
}
