@import '~src/styles/fonts';

* {
  box-sizing: content-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Roboto, sans-serif;
  font-size: 62.5%; // 1rem = 10px
  overflow: auto;
}
