@mixin flex($direction, $justify-content, $align-items) {
  display: flex;
  flex-direction: $direction;
  align-items: $align-items;
  justify-content: $justify-content;
}

@mixin font($font-size: 1rem, $font-weight: inherit, $color: currentColor) {
  color: $color;
  font-size: $font-size;
  font-weight: $font-weight;
}

@mixin position ($position, $top: auto, $right: auto, $bottom: auto, $left: auto, $width: auto, $height: auto) {
  position: $position;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
  width: $width;
  height: $height;
}

@mixin flex-center {
  @include flex(column, center, center);
  > * {
    max-width: 100%;
    max-height: 100%;
  }
}
